/*body {
  margin: 0;
  background: #222;
  font-family:'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  min-width: 100vh;
  height:100%
}
  */


body {
  background: #222;
  display:flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}



